html {
    background-color: lightblue;
}
body {
    font-family: fantasy;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
}
.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 20px;
}
.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 300px;
  margin-top: 20px;
}
.p {
  display: flex;
  flex-direction: column;
  position: fixed;
}
.board {
  width: 500px;
  height: 500px;
  display: grid;
  border: .5px solid black;
  background-color: ghostwhite;
}